<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Web Hosting</title>
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static 'styles.css' %}">
  </head>

  <body>
    <div class="container">
      <h1>WEB HOSTING</h1>
      <div class="check">
        <form action="/check" method="post">
          {%csrf_token%}
          Check Availability: <input type="text" name="name" value="">
          <input type="submit" name="submit" value="Check">
        </form>
      </div>

      <div class="process">
        <form action="/process" method="post">
          {%csrf_token%}
          Add Site To DB: <input type="text" name="web_site" value="">
          <input type="submit" name="submit" value="Add">
        </form>
      </div>

      <div class="message">
        {% if messages %}
          {% for message in messages %}

            {% if message.tags == 'success' %}
              <p style=color:blue>{{ message }}</p>
            {% endif %}

            {% if message.tags == 'error' %}
              <p style=color:red>{{ message }}</p>
            {% endif %}

          {% endfor %}
        {%  endif %}
      </div>

        <a href="/display">Show Database</a>
    </div>
  </body>
</html>
